
h1{
font:bold 20px verdana,sans-serif;
color:#ff0000;
}
h2{
    font:bold 10px verdana,sans-serif;
    color:#0000ff;
    }


    h4{
       font:bold 20px verdana,sans- serif;
       color:aqua;
    }
   h3{
      font:bold 30px verdana,sans-serif;
      color:#0000ff;
   }